@page "/editcustomer/{customerid}"
@using AdventureWorksBlazor.Data
@using AdventureWorksNS.Data
@inject ICustomerService service
@inject NavigationManager navigation

<h3>Editar Customer</h3>

<CustomerDetail ButtonText = "Actualizar"
                Customer="@customer"
                OnValidSubmit="@Update" />

@code {
    [Parameter]
    public string CustomerId { get; set; } = null!;

    private Customer? customer = new();

    protected async override Task OnParametersSetAsync()
    {
        customer = await service.GetCustomerAsync(Int32.Parse(CustomerId));
    }

    private async Task Update()
    {
        if (customer is not null)
        {
            await service.UpdateCustomerAsync(customer);
        }
        navigation.NavigateTo("customers");
    }
}
